{% extends "base.html" %}{% load static %}

{% block content %}
<div class="work">

  <!-------- Scratch Off ------->
  <div id="scratch-off-container">
    <img id="bg" src="{% static 'img/play.jpg' %}">
    <img id="scratch-off" src="{% static 'img/work.jpg' %}">
  </div>

  <ul class="grid thumbnail-hvr">

    <!------------ CAZ Investment ---------->
    <li>
      <figure>
        <div>
          <img src="{% static 'img/caz-ss.jpg' %}" alt="The Pose Box">
        </div>
        <figcaption>
          <h3>CAZ Investments</h3>
          <span>Simple landing page with serverless contact form powered by AWS Lambda.</span>
          <a class="demo" href="http://www.cazinvestments.com" target="_blank">Live</a>
        </figcaption>
      </figure>
      I used:
      <i class="devicon-amazonwebservices-original" title="Amazon Web Services (S3)"></i>
      <i class="devicon-javascript-plain" title="JavaScript"></i>
      <i class="devicon-html5-plain-wordmark" title="HTML5"></i>
      <i class="devicon-css3-plain-wordmark" title="CSS3"></i>
      <i class="devicon-bootstrap-plain" title="Boostrap4"></i>
    </li>

    <!------------ IOT Offering ---------->
    <li>
      <figure>
        <div>
          <img src="{% static 'img/iot-ss.jpg' %}" alt="The Pose Box">
        </div>
        <figcaption>
          <h3>Timbergrove's IoT Offering</h3>
          <span>Turnkey solution for real-time monitoring of sensor data. Includes everything from hardware to web dashboard.</span>
        </figcaption>
      </figure>
      I used:
      <i class="devicon-amazonwebservices-original" title="Amazon Web Services (S3)"></i>
      <i class="devicon-javascript-plain" title="JavaScript"></i>
      <i class="devicon-html5-plain-wordmark" title="HTML5"></i>
      <i class="devicon-css3-plain-wordmark" title="CSS3"></i>
      <i class="devicon-nodejs-plain-wordmark" title="Nodejs"></i>
      <i class="devicon-angularjs-plain" title="Angular"></i>
      <span class="sanserif">TICK Stack</span>
    </li>

    <!------------ POSE Box ---------->
    <li>
      <figure>
        <div>
          <img src="{% static 'img/pose-box-ss.jpg' %}" alt="The Pose Box">
        </div>
        <figcaption>
          <h3>The POSE Box</h3>
          <span>A subscription box. Custom components added to the Cratejoy platform.</span>
          <a class="demo" href="http://www.theposebox.com" target="_blank">Live</a>
        </figcaption>
      </figure>
      I used:
      <i class="devicon-javascript-plain" title="JavaScript"></i>
      <i class="devicon-html5-plain-wordmark" title="HTML5"></i>
      <i class="devicon-css3-plain-wordmark" title="CSS3"></i>
      <i class="devicon-python-plain" title="Python"></i>
    </li>

    <!------------ Mini Hackathon ---------->
    <li>
      <figure>
        <div>
          <img src="{% static 'img/minihack-ss.jpg' %}" alt="Legendary Family">
        </div>
        <figcaption>
          <h3>MiniHackathon.Net</h3>
          <span>Website for the Houston Mini Hackathon.</span>
          <a class="demo" href="http://www.minihackathon.net" target="_blank">Live</a>
          <a class="repo" href="https://github.com/ahollyer/mini-hackathon" target="_blank">Github</a>
        </figcaption>
      </figure>
      I used:
      <i class="devicon-amazonwebservices-original" title="Amazon Web Services (S3)"></i>
      <i class="devicon-javascript-plain" title="JavaScript"></i>
      <i class="devicon-html5-plain-wordmark" title="HTML5"></i>
      <i class="devicon-css3-plain-wordmark" title="CSS3"></i>
      <i class="devicon-bootstrap-plain" title="Bootstrap 3"></i>
    </li>

    <!------------ Legendary.Family ---------->
    <li>
      <figure>
        <div>
          <img src="{% static 'img/legfam-ss.jpg' %}" alt="Legendary Family">
        </div>
        <figcaption>
          <h3>Legendary Family</h3>
          <span>My family: so legendary, we have our own social media app. Includes login system, photo archive, news feed, etc.</span>
          <a class="demo" href="http://legendary.family" target="_blank">Live</a>
          <a class="repo" href="https://github.com/ahollyer/dj-legendary-family" target="_blank">Github</a>
        </figcaption>
      </figure>
      I used:
      <i class="devicon-linux-plain" title="Linux (Ubuntu)"></i>
      <i class="devicon-nginx-original" title="Nginx"></i>
      <i class="devicon-python-plain" title="Python"></i>
      <i class="devicon-django-plain" title="Django"></i>
      <i class="devicon-amazonwebservices-original" title="Amazon Web Services (S3, SES)"></i>
      <i class="devicon-javascript-plain" title="JavaScript"></i>
      <i class="devicon-jquery-plain" title="jQuery"></i>
      <i class="devicon-html5-plain-wordmark" title="HTML5"></i>
      <i class="devicon-css3-plain-wordmark" title="CSS3"></i>
      <i class="devicon-bootstrap-plain" title="Bootstrap 3"></i>
    </li>

    <!------------ FoodforMyMood.Com ---------->
    <!-- <li>
      <figure>
        <div>
          <img src="{% static 'img/foodmood-ss.png' %}" alt="Food for My Mood">
        </div>
        <figcaption>
          <h3>Food for My Mood</h3>
          <span>An app for Houston foodies, by Houston foodies. Mobile-first design with numerous search/filter options.</span>
          <a class="demo" href="http://foodformymood.com" target="_blank">Live</a>
          <a class="repo" href="https://github.com/students-digitalcrafts/food-app" target="_blank">Github</a>
        </figcaption>
      </figure>
      I used:
      <i class="devicon-heroku-plain" title="Heroku"></i>
      <i class="devicon-postgresql-plain" title="PostgreSQL"></i>
      <i class="devicon-nodejs-plain-wordmark" title="Node.js"></i>
      <i class="devicon-javascript-plain" title="JavaScript"></i>
      <i class="devicon-html5-plain-wordmark" title="HTML5"></i>
      <i class="devicon-css3-plain-wordmark" title="CSS3"></i>
      <i class="devicon-sass-original" title="Sass"></i>
      <i class="devicon-bootstrap-plain" title="Bootstrap 3"></i>
    </li> -->

    <!------------- Blackjack Bunny ---------->
    <li>
  		<figure>
        <div>
  			  <img src="{% static 'img/blackjack-ss.jpg' %}" alt="Blackjack Bunny Screenshot">
        </div>
  			<figcaption>
  				<h3>Blackjack Bunny</h3>
  				<span>Browser game for gambling bunnies everywhere.</span>
          <a class="demo" href="http://blackjack-bunny.aspenhollyer.com" target="_blank">Live</a>
          <a class="repo" href="https://github.com/ahollyer/blackjack-game" target="_blank">Github</a>
  			</figcaption>
  		</figure>
      I used:
      <i class="devicon-amazonwebservices-original" title="Amazon Web Services (S3)"></i>
      <i class="devicon-javascript-plain" title="JavaScript"></i>
      <i class="devicon-jquery-plain" title="jQuery"></i>
      <i class="devicon-html5-plain-wordmark" title="HTML5"></i>
      <i class="devicon-css3-plain-wordmark" title="CSS3"></i>
      <i class="devicon-bootstrap-plain" title="Bootstrap 4"></i>
  	</li>

    <!------------ Shared Chalkboard ---------->
    <li>
      <figure>
        <div>
          <img src="{% static 'img/chalkboard-ss.jpg' %}" alt="Shared Chalkboard">
        </div>
        <figcaption>
          <h3>Shared Chalkboard</h3>
          <span>Why have a chatroom when you can have a chalkroom? Features real-time sharing using socket.io</span>
          <a class="demo" href="http://chalkboard.aspenhollyer.com" target="_blank">Live</a>
          <a class="repo" href="https://github.com/ahollyer/html5-canvas" target="_blank">Github</a>
        </figcaption>
      </figure>
      I used:
      <i class="devicon-amazonwebservices-original" title="Amazon Web Services (Lightsail)"></i>
      <i class="devicon-linux-plain" title="Linux (Ubuntu)"></i>
      <i class="devicon-nginx-original" title="Nginx"></i>
      <i class="devicon-nodejs-plain-wordmark" title="Node.js"></i>
      <i class="devicon-javascript-plain" title="JavaScript"></i>
      <i class="devicon-html5-plain-wordmark" title="HTML5"></i>
      <i class="devicon-css3-plain-wordmark" title="CSS3"></i>
      <span class="sanserif">Materialize</span>
    </li>

    <!---------------- Off The Chain ------------->
    <li>
  		<figure>
        <div>
  			  <img src="{% static 'img/otc-ss.jpg' %}" alt="Off The Chain">
        </div>
  			<figcaption>
  				<h3>Off the Chain</h3>
  				<span>Avoid chains. Eat local. A 12-hour project utilizing the Yelp API.</span>
          <a class="demo" href="https://off-the-chain.herokuapp.com" target="_blank">Live</a>
				  <a class="repo" href="https://github.com/ahollyer/off-the-chain" target="_blank">Github</a>
  			</figcaption>
  		</figure>
      I used:
      <i class="devicon-heroku-original" title="Heroku"></i>
      <i class="devicon-javascript-plain" title="JavaScript"></i>
      <i class="devicon-jquery-plain" title="jQuery"></i>
      <i class="devicon-html5-plain-wordmark" title="HTML5"></i>
      <i class="devicon-css3-plain-wordmark" title="CSS3"></i>
      <i class="devicon-bootstrap-plain" title="Bootstrap 3"></i>
  	</li>

    <!---------------------- Pinky Punky -------------->
    <li>
  		<figure>
        <div>
  			  <img src="{% static 'img/pinky-ss.jpg' %}" alt="Pinky Punky">
        </div>
  			<figcaption>
  				<h3>Pinky Punky</h3>
  				<span>Early prototype for a simple 2D platformer.</span>
          <a class="demo" href="https://ahollyer.github.io/pinky-punky/" target="_blank">Live</a>
          <a class="repo" href="https://github.com/ahollyer/pinky-punky" target="_blank">Github</a>
  			</figcaption>
  		</figure>
      I used:
      <span class="sanserif">Construct2 | Tiled Tilemap Editor</span>
  	</li>

    <!-------------- Instant Inspiration ---------------->
  	<li>
  		<figure>
        <div>
  			  <img src="{% static 'img/instant-inspiration.jpg' %}" alt="Instant Inspiration">
        </div>
  			<figcaption>
  				<h3>Instant Inspiration</h3>
  				<span>A random quote generator with various themes.</span>
          <a class="demo" href="https://ahollyer.github.io/instant-inspiration/tolkien.html" target="_blank">Live</a>
				  <a class="repo" href="https://github.com/ahollyer/instant-inspiration" target="_blank">Github</a>
  			</figcaption>
  		</figure>
      I used:
      <i class="devicon-javascript-plain" title="JavaScript"></i>
      <i class="devicon-jquery-plain" title="jQuery"></i>
      <i class="devicon-html5-plain-wordmark" title="HTML5"></i>
      <i class="devicon-css3-plain-wordmark" title="CSS3"></i>
      <i class="devicon-bootstrap-plain" title="Bootstrap 3"></i>
  	</li>

    <!--------------- LegendaryGrandma.Com --------------->
    <!-- <li>
  		<figure>
  			<div>
  			  <img src="{% static 'img/tribute-page.jpg' %}" alt="Legendary Grandma">
  			</div>
  			<figcaption>
  				<h3>LegendaryGrandma.com</h3>
  				<span>A tribute page for my grandma on her 75th birthday.</span>
          <a class="demo" href="http://www.legendarygrandma.com" target="_blank">Demo</a>
          <a class="repo" href="https://github.com/ahollyer/tribute-pages" target="_blank">Github</a>
  			</figcaption>
  		</figure>
      I used:
      <i class="devicon-html5-plain-wordmark" title="HTML5"></i>
      <i class="devicon-css3-plain-wordmark" title="CSS3"></i>
      <i class="devicon-bootstrap-plain" title="Bootstrap 3"></i>
  	</li> -->

  </ul>
</div>

<!-------- Social Links ------>
<ul class="link-list">
  <li><a class="sn-link" href="mailto:aspen.hollyer@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
  <li><a class="sn-link" href="https://github.com/ahollyer" target="_blank"><i class="fa fa-github"></i></a></li>
  <li><a class="sn-link" href="https://www.linkedin.com/in/aspen-hollyer" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
  <li><a class="sn-link" href="https://twitter.com/aspen_hollyer" target="_blank"><i class="fa fa-twitter"></i></a></li>
  <li><a class="sn-link" href=""></a></li>
</ul>
{% endblock %}
